<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Pie Chart with Chart.js</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{%static 'home/chart.css' %}">
</head>

<body>

  <div class="wrapper">
    <div class="container d-flex flex-column justify-content-center align-items-center">
      <div class="title text-center mb-5">
        <h1 id="sub"></h1>
        
      </div>
      <div class="chart-wrapper">
        <canvas id="myChart" width="300" height="300"></canvas>
      </div>
    </div>
  </div>
  <script src="{%static 'table/table_js/jquery.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.1/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
  <script src="{%static 'home/chart.js' %}"></script>

</body>

</html>